@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/*

SYSTEM -- DARKGRAY
USER -- GREEN
CREATOR -- LIGHTBLUE 

*/

.App{
  background-color: black;
  color: darkgray;
  font-family: 'Fira Code';
  /* letter-spacing: 1px; */
  font-size: 1em;
  /* display: flex; */
  justify-content: flex-start;
  height: 85vh;

  margin:0px;
  border: 1px solid white;
  padding: 10px;
}

.Text{
  white-space: pre-wrap;
}

input{
  width: 90%;
  font-family: 'Fira Code';
  font-style: italic;
  background-color: black;
  border: black;
  color: greenyellow;
  font-size: 1em;

}

#hide_input{
  width: 90%;
  font-family: 'Fira Code';
  font-style: italic;
  background-color: black;
  border: black;
  color: greenyellow;
  font-size: 1em;

}

input:focus{
  outline: none;
}

.Space{
  margin-top: 1.5em;
}

#redtest{
  color: rgb(110, 209, 255);
}

.blue_cursor{
  color: black;
}

.Typewriter__cursor{
  color: black;
}

.answer{
  display: none;
}

.main-input{
  display: flex;
  align-items: center;
  height: 30px;
  border: 1px solid white;
  margin-top: 20px;
}